<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.piszek.github-pr-ninja</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>6C68D0BB-A89A-4FDD-BB99-B5A5B460646E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B2BA81B6-67F1-45CD-805C-B5D45DAC8B3A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FB9FB785-4890-42F5-A20A-059BCD1186CD</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Press CMD to paste URL to active window</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C06B7259-1445-4BDB-8658-D980757D4252</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Press COMMAND to check out the branch</string>
			</dict>
		</array>
		<key>C06B7259-1445-4BDB-8658-D980757D4252</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Artur Piszek</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>PR Ninja</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B2BA81B6-67F1-45CD-805C-B5D45DAC8B3A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>cpr</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Loading PRs....</string>
				<key>script</key>
				<string>require "./github.php";
search( str_replace( ' ', '+', "{query}" ) );
</string>
				<key>title</key>
				<string>Find PR</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6C68D0BB-A89A-4FDD-BB99-B5A5B460646E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>FB9FB785-4890-42F5-A20A-059BCD1186CD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require "./github.php";
$branch = getBranch( "{query}" );
checkoutBranch( $branch );
</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C06B7259-1445-4BDB-8658-D980757D4252</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>6C68D0BB-A89A-4FDD-BB99-B5A5B460646E</key>
		<dict>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>B2BA81B6-67F1-45CD-805C-B5D45DAC8B3A</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>C06B7259-1445-4BDB-8658-D980757D4252</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>FB9FB785-4890-42F5-A20A-059BCD1186CD</key>
		<dict>
			<key>ypos</key>
			<real>90</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>piszek.com</string>
</dict>
</plist>
